body {
    background-color: goldenrod;
}

#meal-image {
    width: 100%
}

.item-container {
    border-radius: 20px;
}

#search-result {
    display: none;
    margin-top: 50px;
}

.card-title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(240, 26, 69);
}

#mealDetail-click {
    border-radius: 20px;
    box-shadow: 9px 9px 20px;
    color: rgb(35, 11, 97);
    margin-bottom: 100px;
    background-color: lightgoldenrodyellow;
}

#box-div {
    padding: 30px;
}